<div class='parent-wrapper2'>
  <%= form_tag reset_password_path, class: "login-form" do %>
    <h2>パスワード再設定</h2>
    <div class="form-group">
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, id: "reset-pw-email-input", class: "inputBox", placeholder: "Email", required: true %>
      <button id='send-otp-btn' onClick='sendResetPasswordOTP()'>OTPを送信する</button>
      <p id='reset-pw-email-checked-status' style='display:none'></p>
    </div>

    <div class="form-group">
      <%= label_tag "新しいパスワード" %>
      <%= password_field_tag :new_password, nil, id: "reset-pw-password-input", class: "inputBox", placeholder: "Password", required: true %>
    </div>

    <div class="form-group">
      <%= label_tag "新しいパスワード確認" %>
      <%= password_field_tag :confirm_new_password, nil, id: "reset-pw-confirm-password-input", class: "inputBox", placeholder: "Password", required: true %>
    </div>

    <div class="form-group">
      <%= label_tag :OTP %>
      <%= text_field_tag :otp, nil, class: "inputBox", required: true %>
    </div>

    <div class="form-group">
      <%= submit_tag "設定する", class: "submit-button", id: "reset-password-button" %>
    </div>

    <% if flash[:failed] == "otp" %>
      <div class="form-group">
        <%= label_tag "*OTPが無効です！" %>
      </div>
    <% end %>

    <% if flash[:failed] == "email" %>
      <div class="form-group">
        <%= label_tag "*emailは登録されてません！" %>
      </div>
    <% end %>

    <% if flash[:failed] == "else" %>
      <div class="form-group">
        <%= label_tag "*パスワード再設定が失敗しました！" %>
      </div>
    <% end %>

  <% end %>
<div class='parent-wrapper'>
