<!DOCTYPE html>
<html>
  <head>
    <title>Poker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= yield %>
    <% unless current_page?(root_path) or current_page?(home_path) or current_page?(login_path) or current_page?(signup_path) or current_page?(verify_email_path)%>
      <%= link_to 'ホームへ', home_path, id: 'back-to-home-link' %>
    <% end %>
  </body>
</html>
